<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="nav col-12 col-md-2 mb-2 justify-content-center mb-md-0 ">
      <a >
        <img src="{{angularlogo}}">
    </a>
    <p class="haeda">Angular Projects</p>
    </div>

    <ul class="nav col-12 col-md-7 mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a class="nav-link px-2 link-dark" routerLink="/Dashboard">Dashboard</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      <li><a class="nav-link px-2 link-dark" routerLink="/Employees">employee</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2" routerLink="/Login">Login</button>
      <button type="button" class="btn btn-primary" routerLink="/Register">Sign-up</button>
    </div>
  </header>
  
  
