<div class=" container row">
</div>
<section class="">
 
 <footer class="text-black text-left">
 
   <div class="container p-4">
     
     <div class="row">
       
       <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
             <a class="col-lg-2">
                 <img src="{{angularlogo}}">
             </a>
                 <p>Angular Projects</p>
             
             
             </div>
       
       <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
         <h5 class="text-uppercase">Employees Details</h5>

         <ul class="list-unstyled mb-0">
           <li>
             <a href="#!" >Add Employee</a>
           </li>
           <li>
             <a href="#!" >Employee-List</a>
           </li>
           
           <li>
             <a href="#!">Employee-Form</a>
           </li>
         </ul>
       </div>
     
       <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
         <h5 class="text-uppercase mb-0">Leaves</h5>

         <ul class="list-unstyled">
           <li>
             <a href="#!">Apply Leaves</a>
           </li>
           <li>
             <a href="#!" >Leave Details</a>
           </li>
          
         </ul>
       </div>
     
     </div>
 </div>
 </footer>
 
</section>