<div class="container">
    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Employee</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{employees}}</h1>
                
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Go To Employees</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Leaves</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">{{leaves}}</h1>
                
                <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 ">
              <div class="card-header py-3 bg-primary w-100 btn btn-lg btn-primary">
                <h4 class="my-0 fw-normal ">Notification</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>2 New Employees Onboarded</li>
                  <li>1 New Leaves Has Taken By 1 Employees</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Go To Notification</button>
              </div>
            </div>
          </div>
        </div>
    </main>
</div>

